<% provide(:title, "Reservation") %>
<div class="container-fluid">
  <div class="col-sm-offset-2 col-sm-8 col-sm-offset-2">
    <div class="top">
      <%= image_tag("top.jpg", alt: "Reception Pic", class: "img-responsive config") %>
    </div>
    <p class="explanation">
      本クリニックは予約制となっております。Web登録してご予約ください。
    </p>
    
    <% if logged_in? %>
      <h3>予約日時</h3>
      <%= link_to "ログアウト", logout_path, method: "delete" %>
    <% else %>
      <%= link_to "ログイン", login_path, class: "btn btn-default btn-lg btn-block" %>
      <%= link_to "新規登録", signup_path, class: "btn btn-default btn-lg btn-block" %>
    <% end %>
    
    <h3 class="sub-title">診療受付時間</h3>
    <!--<div class="table-responsive">-->
      <table class="table table-bordered">
        <thead>
          <tr>
            <th></th>
            <th class="table-head">診療時間</th>
            <th class="table-head">10:30 ~ 13:00</th>
            <th class="table-head">14:30 ~ 19:00</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= Time.zone.now.beginning_of_week.strftime("%m/%d") %></td>
            <td>月</td>
            <td>○</td>
            <td>○</td>
          </tr>
          <tr>
            <td><%= (Time.zone.now.beginning_of_week + 1.day).strftime("%m/%d") %></td>
            <td>火</td>
            <td>○</td>
            <td>○</td>
          </tr>
          <tr>
            <td><%= (Time.zone.now.beginning_of_week + 2.day).strftime("%m/%d") %></td>
            <td>水</td>
            <td>休</td>
            <td>休</td>
          </tr>
          <tr>
            <td><%= (Time.zone.now.beginning_of_week + 3.day).strftime("%m/%d") %></td>
            <td>木</td>
            <td>○</td>
            <td>○</td>
          </tr>
          <tr>
            <td><%= (Time.zone.now.beginning_of_week + 4.day).strftime("%m/%d") %></td>
            <td>金</td>
            <td>○</td>
            <td>○</td>
          </tr>
          <tr>
            <td><%= (Time.zone.now.beginning_of_week + 5.day).strftime("%m/%d") %></td>
            <td>土</td>
            <td>○</td>
            <td>○</td>
          </tr>
          <tr>
            <td><%= (Time.zone.now.beginning_of_week + 6.day).strftime("%m/%d") %></td>
            <td>日</td>
            <td>○</td>
            <td>○</td>
          </tr>
        </tbody>
      </table>
    <!--</div>-->

    <div class="explanation">
      <p>受付時間</p>
      <p>午前は12:30まで</p>
      <p>午後は18:30まで</p>
      <p>休診日</p>
      <p>毎週水曜日</p>
    </div>
   </div>
</div>