<header class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "わきあいアイクリニック", root_path,
        class: "navbar-brand" %>
      <button type="button" class="navbar-toggle collapsed" id="panel-btn"
                        data-toggle="collapse" data-target="#navbarExample">
        <span class="sr-only">Toggle navigation</span>
        <span class="glyphicon glyphicon-align-justify" id="panel-btn-icon"
                                                  aria-hidden="true"></span>
        <span style="display: none" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarExample">
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to "予約する", reservation_path %></li>
          <li><%= link_to "予約一覧", current_user %></li>
          <li><%= link_to "ログアウト", logout_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "ログイン", login_path %></li>
          <li><%= link_to "新規登録", signup_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>
<script>
$(function() {
  $("#panel-btn").click(function() {
    $("span").toggle();
  });
});
</script>